body{
    overflow: hidden;
}

a {
    color:inherit;
    text-decoration:none;
    line-height:25px;
}


#bgimg {
    z-index:-10;
    position:fixed;
    background-size:cover;
    background-repeat:no-repeat;
}


#container {
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    display:table;
}

#cell {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}


.sqr {
    display:inline-block;
    width:150px;
    height:150px;
    margin:3px 1px;
    overflow:hidden;
    -moz-transition:all .25s ease-in-out;
    -webkit-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out;
    vertical-align:middle;
}

.content {
    margin:0 10px 0;
    line-height:25px;
}

span {
    width:inherit;
    height:inherit;
    line-height:150px;
    text-transform:uppercase;
}


#searchinput {
    width:130px;
    height:37px;
    margin-left:-10px;
    padding:0 10px;
    border:none;
}


#popup {
    position: absolute;
    z-index: 100;
    bottom: -200px;
    right: 15px;
    padding: 25px;
    -moz-transition:all .25s ease-in-out;
    -webkit-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out;
    text-align:left;
}
